name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tbb: [false, true]
        nyanten: ["OFF", "ON"]

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install TBB
        if: matrix.tbb
        run: sudo apt-get update && sudo apt-get install -y libtbb-dev

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DENABLE_NYANTEN=${{matrix.nyanten}}

      - name: Build
        run: cmake --build ${{github.workspace}}/build
